*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:hsl(185, 75%, 39%);
  background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  text-align: center;
  min-height: 100vh;
}
main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  border-radius: 20px;
  background-color: white;
  padding: 0 0 20px 0;
  box-shadow: 0 30 45 hsl(0, 0%, 59%)
}
main img{
  border-radius: 20px 20px 0 0;
}
.profilePic img{
  border:5px solid white;
  border-radius: 50px;
  margin-top: -50px;
}
.box{
  display: flex;
  justify-content: space-around;
}
p{
  font-size:13.5px ;
  font-weight: 400;
  color:hsl(227, 10%, 46%);
  font-family: 'Kumbh Sans', sans-serif;
}
h1{
  font-size: 18px;
  font-weight: 700;
  color:hsl(229, 23%, 23%);
  margin-top: 1.5rem;
  font-family: 'Kumbh Sans', sans-serif;
}
span{
  font-size:18px ;
  font-weight: 400;
  color:hsl(227, 10%, 46%);
  font-family: 'Kumbh Sans', sans-serif;
}
.box p{
  margin-top: 0.4rem;
}
hr{
  border: 0.5px solid hsl(0, 0%, 59%);
  opacity: 0.25;
}
.attribution{ 
  font-size: 11px; 
  text-align: center;
  }
.attribution a{ 
  color: hsl(228, 45%, 44%);
  }
  @media screen and (max-width: 375px){

}
  }